// 适配taroify在PC编辑端的样式

.taroify-popup {
  position: absolute;
}

.taroify-backdrop {
  position: absolute;
}


// main
// .ComponentTreeWidget {
//   background-image:
//     linear-gradient(45deg, #eee 25%, transparent 0, transparent 75%, #eee 0),
//     linear-gradient(45deg, #eee 25%, transparent 0, transparent 75%, #eee 0);
//   background-position: 0 0, 50px 50px;
//   background-size: 100px 100px;
// }
